node_modules/
dist/
storybook-static/
coverage/
**/__diff_output__/
*.tsbuildinfo
.turbo/
.vite/
.DS_Store
*.log
npm-debug.log*
pnpm-debug.log*
*.stackdump
.env
.env.local
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
ssh